<!DOCTYPE html>
<html>
<head>
  <title>Templates</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'permission_app/css/style.css' %}"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'permission_app/css/materialize.min.css' %}"  media="screen,projection"/>
      <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Anton|Encode+Sans+Expanded" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
   


    <!-- section0 -->
    <div id="polina">
    <div class=" open_icon right " id="open">&#9776;</div>
    <div class=" open_icon right" id="close">&#10005;</div>
      <div class="top_bar">
          <div class="side_bar" id="side_nav">
              <!-- navbar -->
              <ul class="right">
                  <li><a href="#home"></a></li>
                  <li><a href="#about"></a></li>
                  <li><a href="#features"></a></li>
                  <li><a href="#contact">Contact</a></li>
                   <!-- Dropdown Trigger -->
                  <li><a class='dropdown-button btn login_btn' href='#' data-activates='dropdown1'>Login</a></li>

                  <!-- Dropdown Structure -->
                  <ul id='dropdown1' class='dropdown-content'>
                      <li><a href="#!">one</a></li>
                      <li><a href="#!">two</a></li>
                      <li class="divider"></li>
                      <li><a href="#!">three</a></li>
                      <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                      <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                  </ul>
              </ul>
          </div>
          <br><br><br>
         	<div class="row">
         		<div class="col s4">
	         		<!--<div class="card" id="side_bar">-->
	         		 	<!--<div class="card-title " id="sidebar_title"><h5>LOGO</h5></div>-->
	         		 	<!--&lt;!&ndash;<div class="card-content sidebar_content">&ndash;&gt;-->
	         		 		<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12 content" id="cont1">Demo1</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont2">Demo2</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont1">Demo3</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont2">Demo4</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont1">Demo5</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont2">Demo6</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont1">Demo7</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont2">Demo8</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont1">Demo10</div>&ndash;&gt;-->
	         		 			<!--&lt;!&ndash;<div class="col s12  content" id="cont2">Demo11</div>&ndash;&gt;-->
	         		 		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	         		 	<!--&lt;!&ndash;</div>&ndash;&gt;-->
         		 	<!--</div>-->
         		</div>
         		<div class="col s8 ">
         		    <div class="back_desg"> hiii</div>

         		    <div class="card" id="dash_content" >
                        {% load rules %}

                        {% has_perm 'books.change_book' author book as can_edit_book %}
                        {% if can_edit_book %}
                        {% endif %}

                        {% test_rule 'has_super_feature' user as has_super_feature %}
                        {% if has_super_feature %}
                        {% endif %}
                        <table>
                            <tr>
                                <th>Permission</th>
                                <th>Content Type</th>
                                <th>Access Group</th>
                            </tr>
                            {% for permission in permissions %}
                            <tr class="item-row">
                                <td>
                                    {{permission.name}}
                                    <input type="hidden" name="permission_{{permission.id}}" />
                                </td>
                                <td>
                                    {{permission.content_type.app_label}}
                                </td>
                                <td>
                                    {% for group in all_groups %}
                                        <span class="checkboxes fln">
                                            <span class="checkbox">
                                                <small class="single checkNo">
                                                    <input type="checkbox" name="group_{{group.id}}_permission_{{permission.id}}"/>
                                                </small>
                                                <b>{{group.name}}</b>
                                            </span>
                                        </span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
         		 </div>
         	</div>
           
          
    </div>

 

 
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'permission_app/js/script.js' %}"></script>
      <script type="text/javascript" src="{% static 'permission_app/js/materialize.min.js' %}"></script>
    </div>
</body>
</html>