
                        <ul class="pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-user"></i>
                                    <span class="username username-hide-on-mobile"> {{ request.user }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                            <form class="form-horizontal" action="" method="post" id="form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="Old password" id="oldpassword" name="oldpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="New password" id="newpassword" name="newpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="Re-new password" id="renewpassword" name="renewpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                    <button type="button" class="btn btn-primary" id="submitChange">Change</button>
                                                <div class="form-group has-error">
                                                    <div class="col-md-12" style="color:red" id="errorId">

                                                    </div>
                                                </div>
                                            </form>
                                </ul>

                            </li>
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="/login/logout/" title="Logout">
                                    Logout&nbsp; <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                      <ul class="pull-right bread_crumb">
                            <li class="dropdown dropdown-user bread_crumb"><a href="/login/dashboard">Home</a></li>
                            <li class="dropdown dropdown-user"><a href="/login/organization/" id="org_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/login/department/" id="dept_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/login/zone/" id="zone_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/login/designation/" id="desg_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/login/branch/" id="branch_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/login/users/" id="users_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/checksuite/audit_forms/" id="forum_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/checksuite/manage_audits/" id="audit_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/checksuite/create_campaign/" id="campaign_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/checksuite/scheduling_dashboard/" id="scheduling_breadcrumb"></a></li>
                            <li class="dropdown dropdown-user"><a href="/checksuite/role_manage/" id="role_breadcrumb"></a></li>
                        </ul>
                    </div>

            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <div class="page-logo">
                        <a href="/login/dashboard/">
                            <!--<img src="{% static '/assets/layouts/layout/img/logo.png' %}" alt="logo" class="logo-default" /> </a>-->
                            <h3>CHECKSUITE</h3>
                        </a><!--
                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>-->

                    </div>
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler">
                        <span></span>
                    </a>

                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <!--<div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            &lt;!&ndash; BEGIN NOTIFICATION DROPDOWN &ndash;&gt;
                            &lt;!&ndash; BEGIN USER LOGIN DROPDOWN &ndash;&gt;
                            &lt;!&ndash; DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte &ndash;&gt;
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-user"></i>
                                    <span class="username username-hide-on-mobile"> {{ request.user }} </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                            <form class="form-horizontal" action="" method="post" id="form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="Old password" id="oldpassword" name="oldpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="New password" id="newpassword" name="newpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <input type="password" placeholder="Re-new password" id="renewpassword" name="renewpassword" autocomplete="off" class="form-control">
                                                         <span class="highlight"></span>
                                                         <span class="bar"></span>
                                                    </div>
                                                </div>
                                                    <button type="button" class="btn btn-primary" id="submitChange">Change</button>
                                                <div class="form-group has-error">
                                                    <div class="col-md-12" style="color:red" id="errorId">

                                                    </div>
                                                </div>
                                            </form>
                                </ul>
                            </li>
                            &lt;!&ndash; END USER LOGIN DROPDOWN &ndash;&gt;
                            &lt;!&ndash; BEGIN QUICK SIDEBAR TOGGLER &ndash;&gt;
                            &lt;!&ndash; DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte &ndash;&gt;
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="/login/logout/" title="Logout">
                                    Logout&nbsp; <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                            &lt;!&ndash; END QUICK SIDEBAR TOGGLER &ndash;&gt;
                        </ul>
                    </div>-->
                    <!-- END TOP NAVIGATION MENU -->
                </div>