body {
  margin: 0;
  background: #fff; 
  width: 100% !important;
  font-family: 'Encode Sans Expanded', sans-serif;
  overflow: hidden;
}

.learn_btn{
	border:
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 	background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  	background-size: cover;
  	transition: 2s opacity;
}


.open_icon{
	color: #DFE3DF;
	font-size: 30px;
	font-weight: bold;
	height: 42px;
	line-height: 72px;
	width:50px;
	padding-left: 14px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 15px;
	margin-left: 186px;
	position: absolute;
	z-index: 31!important;
	float: right;
}

#side_nav{
	transition: 0.5s;
	height: 0px;
	background: #23323A;
	width:100%;
	line-height: 60px;
	position: absolute;
	
}

#side_nav ul{
	
} 


#side_nav li{
	display: inline;
	margin-right: 30px;
	transition: 0.5s;
} 

#side_nav li a{
	word-spacing: 10px;
	color: #ccc
} 

#side_nav li a:hover{
	color: #8c9eff ;
} 

.heading-text{
	height: 150px;
}

.home-text{
	margin-left: 30px;
}

.home-text h1{
	font-size: 37px;
	font-weight: bold;
	font-family: 'Anton', sans-serif;
	letter-spacing: 3px;
}


.login_btn{
	background: #D9E0E7 !important;
	height: 30px !important;
	margin-top: -7px;
	line-height: 30px !important;
	color: #182E48 !important;
	transition: 0.5s;
}

#side_bar{
	width: 250px !important;
	color: #000;
	height: 695px;
	margin-top: -61px;
	margin-left: -11px;
	background: #23323A;
	box-shadow: none;
	border-radius: 0;
}

#sidebar_title{
	padding-top: 1px !important;	
}

#sidebar_title h5{
	padding: 8px;
	font-weight: bold;
	color: #fff;
	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
}

.sidebar_content{
	margin-top: 20px !important;
}

.content{
	width: 250px !important; 
	display: inherit;
	margin-left: -24px !important;
	letter-spacing: 0.6px;
	cursor: pointer;
}

#cont1{
	background: #D2D6D9;
	height: 48px;
	line-height: 48px;
	color: #1D1C1B;
}

#cont1:hover{
	background: #23323A;
	color: #fff;
	 
}

#cont2{
	background: #FFFFFF;
	height: 48px;
	line-height: 48px;
	color: #1D1C1B;
}

#cont2:hover{
	background: #23323A;
	color: #fff; 
}

#dash_container{
	
}

.back_desg{
	width: 1081px;
	height: 250px;
	z-index: ;
	margin-left: -210px;
	margin-top: -61px;
	background: #DFE3DF;

}

#dash_content{
	margin-left: -160px !important;
	margin-top: -195px;
	height: 400px;
	width: 1000px;
	transition: 0.5s;
	color: black;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  /*background: rgba(0,0,0,0.7);*/
  color: white;
  /*padding: 2rem;*/
  width: 100%;
  /*margin:2rem;*/
  /*float: right;*/
  font-size: 1.2rem;
  height: 674px;
  margin-top: -20px;

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}



